<footer class="pagination-bar">
  <span>{{ label }}</span>
  <div>
    <button mat-icon-button type="button" (click)="previous()" [disabled]="pageNumber <= 1"><mat-icon>chevron_left</mat-icon></button>
    <button mat-flat-button color="primary" type="button">{{ pageNumber }}</button>
    <button mat-button type="button" *ngIf="pageNumber + 1 <= totalPages" (click)="pageChanged.emit(pageNumber + 1)">{{ pageNumber + 1 }}</button>
    <button mat-button type="button" *ngIf="pageNumber + 2 <= totalPages" (click)="pageChanged.emit(pageNumber + 2)">{{ pageNumber + 2 }}</button>
    <button mat-button type="button" *ngIf="totalPages > pageNumber + 2" (click)="pageChanged.emit(totalPages)">{{ totalPages }}</button>
    <button mat-icon-button type="button" (click)="next()" [disabled]="pageNumber >= totalPages"><mat-icon>chevron_right</mat-icon></button>
  </div>
</footer>
