<section class="admin-table" role="table" aria-label="Users">
  <div class="table-head" role="row">
    <span><mat-checkbox aria-label="Select all users"></mat-checkbox></span>
    <span>User</span>
    <span>Role</span>
    <span>Department</span>
    <span>Status</span>
    <span>Tickets</span>
    <span>Last seen</span>
    <span></span>
  </div>

  <div class="table-row" role="row" *ngFor="let user of users">
    <span><mat-checkbox [checked]="!!user.selected" [attr.aria-label]="'Select ' + user.name"></mat-checkbox></span>
    <span class="identity-cell">
      <span class="avatar">{{ user.initials }}</span>
      <span>
        <strong>{{ user.name }}</strong>
        <small>{{ user.email }}</small>
      </span>
    </span>
    <span>{{ user.role }}</span>
    <span>{{ user.department }}</span>
    <span><em [ngClass]="'tone-' + user.statusTone">{{ user.status }}</em></span>
    <span>{{ user.tickets }}</span>
    <span>{{ user.lastSeen }}</span>
    <span class="row-actions">
      <button mat-icon-button type="button" [matMenuTriggerFor]="userMenu" aria-label="User actions">
        <mat-icon>more_horiz</mat-icon>
      </button>
    </span>
  </div>
</section>

<mat-menu #userMenu="matMenu">
  <button mat-menu-item><mat-icon>edit</mat-icon>Edit user</button>
  <button mat-menu-item><mat-icon>assignment_ind</mat-icon>Assign roles</button>
  <button mat-menu-item><mat-icon>block</mat-icon>Deactivate</button>
</mat-menu>
