<section class="filter-bar" aria-label="Ticket filters">
  <div class="filter-bar__chips">
    <button type="button" *ngFor="let filter of filters" [class.active]="filter.active" [ngClass]="'tone-' + (filter.tone || 'neutral')">
      <mat-icon *ngIf="filter.icon">{{ filter.icon }}</mat-icon>
      <span>{{ filter.label }}</span>
      <strong *ngIf="filter.count !== undefined">{{ filter.count }}</strong>
    </button>
  </div>
  <div class="filter-bar__menus">
    <button mat-stroked-button type="button" [matMenuTriggerFor]="statusMenu"><mat-icon>fact_check</mat-icon>Status</button>
    <button mat-stroked-button type="button" [matMenuTriggerFor]="priorityMenu"><mat-icon>flag</mat-icon>Priority</button>
    <button mat-stroked-button type="button"><mat-icon>person</mat-icon>Assignee</button>
    <button mat-stroked-button type="button"><mat-icon>apartment</mat-icon>Department</button>
    <button mat-stroked-button type="button"><mat-icon>date_range</mat-icon>Date</button>
    <button mat-button type="button" class="filter-bar__reset">Reset</button>
  </div>
</section>
<mat-menu #statusMenu="matMenu"><button mat-menu-item>Open</button><button mat-menu-item>In progress</button><button mat-menu-item>Resolved</button></mat-menu>
<mat-menu #priorityMenu="matMenu"><button mat-menu-item>Critical</button><button mat-menu-item>High</button><button mat-menu-item>Medium</button><button mat-menu-item>Low</button></mat-menu>
