@use '../abstracts/variables' as vars;

body {
  font-family: vars.$app-font-family;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

h1,
h2,
h3,
h4 {
  color: var(--text);
  letter-spacing: 0;
}
